<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-update"
  version="1.0.0">

    <name>cordova-plugin-update</name>
    <description>Auto update for cordova plugin</description>
    <author>yanglb.com</author>
    <keywords>update</keywords>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <!-- dependencies -->

    <js-module src="www/update.js" name="update">
        <clobbers target="update" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Update">
                <param name="android-package" value="com.yanglb.cordova.Update" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <!-- 访问网络状态 -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            
            <!-- 系统相关 -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/application" mode="merge">
            <provider
                android:name="ezy.boost.update.UpdateFileProvider"
                android:authorities="${applicationId}.updatefileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/update_cache_path"/>
            </provider>
        </config-file>

        <framework src="com.android.support:support-annotations:25.0.0" />
        <framework src="com.android.support:appcompat-v7:25.0.0" />

        <source-file src="src/android/Update.java" target-dir="src/com/yanglb/cordova" />
        
        <!-- ezy.boost.update -->
        <source-file src="src/android/res/update_cache_path.xml" target-dir="res/xml" />

        <source-file src="src/android/ezy/boost/update/DefaultDownloadListener.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/DefaultPromptClickListener.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/ICheckAgent.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IDownloadAgent.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IUpdateAgent.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IUpdateChecker.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IUpdateDownloader.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IUpdateParser.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/IUpdatePrompter.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/OnDownloadListener.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/OnFailureListener.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateAgent.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateChecker.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateDownloader.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateError.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateFileProvider.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateInfo.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateManager.java" target-dir="src/ezy/boost/update" />
        <source-file src="src/android/ezy/boost/update/UpdateUtil.java" target-dir="src/ezy/boost/update" />
    </platform>
</plugin>
