<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-update"
  version="1.0.0">

    <name>cordova-plugin-update</name>
    <description>Auto update for cordova plugin</description>
    <author>yanglb.com</author>
    <keywords>update</keywords>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <!-- dependencies -->

    <js-module src="www/update.js" name="Update">
        <clobbers target="update" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Update">
                <param name="android-package" value="com.yanglb.cordova.Update" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <!-- 访问网络状态 -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            
            <!-- 系统相关 -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/Update.java" target-dir="src/com/yanglb/cordova" />
        
    </platform>
</plugin>
